/* phpcs:ignore */
:root {
  --borderRadius: 4px;
  --fontSize: 14px;

  --inputBackground: transparent;
  --inputColour: #000;
  --midGrey: #555;
  --primary: black;
  --hightlight: coral;
  --error: #ce202f;

  --messageText: #ffffff;
  --messageBackground: #333;
  --left: 10px;
  --top: 10px;
}

.gform_heading,
.gform_body,
.gform_footer {
  margin-bottom: 20px;
}

.gform_heading h3.gform_title {
  margin: 0;
}

.gform_wrapper > ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gform_wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gform_wrapper ul li {
  list-style-type: none;
  position: relative;
  width: 100%;
  margin: 10px 0;
}
.gform_wrapper ul li:before {
  display: none;
}
.gform_wrapper ul li label {
  color: var(--primary);
  font-size: var(--fontSize);
}

.gform_wrapper ul li span label {
  font-size: 10px;
  margin-bottom: 10px;
}

.gfield_required {
  color: var(--error);
}

.ginput_complex span label {
  position: relative;
  font-size: 10px;
  left: var(--left);
}

.gform_wrapper ul li.gfassist-text,
.gform_wrapper ul li.gfassist-address,
.gform_wrapper ul li.gfassist-name,
.gform_wrapper ul li.gfassist-date,
.gform_wrapper ul li.gfassist-website,
.gform_wrapper ul li.gfassist-number,
.gform_wrapper ul li.gfassist-phone,
.gform_wrapper ul li.gfassist-password,
.gform_wrapper ul li.gfassist-email,
.gform_wrapper ul li.gfassist-textarea {
  margin-top: 40px;
}

.gfassist-text .gfield_label,
.gfassist-address .gfield_label,
.gfassist-name .gfield_label,
.gfassist-date .gfield_label,
.gfassist-website .gfield_label,
.gfassist-number .gfield_label,
.gfassist-phone .gfield_label,
.gfassist-password .gfield_label,
.gfassist-email .gfield_label,
.gfassist-textarea .gfield_label {
  position: absolute;
  left: var(--left);
  top: var(--top);
  z-index: 10;
  transition: all 0.3s ease-out;
}

.gfield.focused .gfield_label {
  transform: translateY(-200%);
  font-size: var(--fontSize);
}

.gfield input,
.gfield textarea {
  padding: 10px;
  border: none;
  height: auto;
}

.gfield textarea {
  min-height: 100px;
}

.gform_wrapper input[type="text"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="email"],
.gfassist-text input[type="text"],
.gfassist-phone input[type="tel"],
.gfassist-website input[type="url"],
.gfassist-password input[type="password"],
.gfassist-email input[type="email"],
.gfassist-url input[type="url"],
.gfassist-date input[type="date"],
.gfassist-month input[type="month"],
.gfassist-time input[type="time"],
.gfassist-datetime input[type="datetime"],
.gfassist-datetime input[type="datetime-local"],
.gfassist-week input[type="week"],
.gfassist-number input[type="number"],
.gfassist-search input[type="search"],
.gfassist-tel input[type="tel"],
.gfassist-color input[type="color"],
.gfassist-textarea textarea,
.gfassist-select select,
.gfassist-address select,
.gfassist-multiselect select,
.gfassist-time select {
  font-family: inherit;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: 1px solid var(--midGrey);
  padding: 15px 20px;
  line-height: 1.4;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  resize: none;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: var(--inputBackground);
  font-size: var(--fontSize);
  color: var(--inputColour);
  border-radius: var(--borderRadius);
}

/* Gravity forms advance */

.gfassist-time .clear-multi {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.gfassist-time .clear-multi i {
  display: none;
}
.gfassist-time .clear-multi label {
  display: inline;
  font-size: 10px;
  line-height: 1;
  height: 12px;
  margin: 0;
}

.ginput_container_time {
  margin-right: 10px;
}

/* Select */

.ginput_container_select,
.gfassist-address .address_country,
.gfassist-time .ginput_container_time:last-child {
  position: relative;
  display: block;
}
.ginput_container_select select,
.gfassist-address .address_country select,
.gfassist-time .ginput_container_time:last-child select {
  background: var(--inputBackground);
  appearance: none;
  font-size: var(--fontSize);
}

.gfassist-address .address_country:after,
.gfassist-time .ginput_container_time:last-child:after,
.gfassist-select:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 55%;
  border-right: 1px solid var(--midGrey);
  border-bottom: 1px solid var(--midGrey);
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  pointer-events: none;
}
.gfassist-address .address_country:after {
  position: absolute;
  right: 25px;
  top: 18px;
}
.gfassist-time .ginput_container_time input {
  padding: 15px 0 15px 20px;
}
.gfassist-time .ginput_container_time:last-child select {
  padding: 15px 40px 15px 20px;
}
.gfassist-time .ginput_container_time:last-child:after {
  position: absolute;
  right: 20px;
  top: 18px;
}
/* Radio Checkboxes buttons */

.gfassist-radio ul li {
  display: inline-block;
  width: auto;
}

.gfassist-radio.gfassist-radio ul li:not(:first-of-type) {
  margin-left: 10px;
}

.gfassist-radio ul li {
  border: 1px solid var(--midGrey);
  overflow: hidden;
  border-radius: var(--borderRadius);
}

.gfassist-radio ul label,
.gfassist-checkbox ul label {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  padding: 2px 10px;
  border-left: 25px solid transparent;
  border-radius: var(--borderRadius);
}

.gfassist-radio li input,
.gfassist-checkbox li input {
  display: none;
}

.gfassist-radio li input + label::before,
.gfassist-checkbox li input + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--midGrey);
  border-radius: var(--borderRadius);
}

.gfassist-radio li input:checked + label::before,
.gfassist-checkbox li input:checked + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--hightlight);
}

.gfassist-radio li input + label::after,
.gfassist-checkbox li input + label::after {
  transform: scale(0.5);
  transition: 0.3s ease all;
  content: "\2713";
  position: absolute;
  display: block;
  top: 3px;
  left: -17px;
  font-weight: bold;
  color: white;
  opacity: 0;
}

.gfassist-radio Input:checked + label::after,
.gfassist-checkbox li input:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

/* Placeholders */

.gfield ::-webkit-input-placeholder {
  color: whitesmoke;
  transition: all 0.3s ease;
}
.gfield ::-ms-input-placeholder {
  color: whitesmoke;
  transition: all 0.3s ease;
}
.gfield ::placeholder {
  color: whitesmoke;
  transition: all 0.3s ease;
}

/* Messages */

.gform_confirmation_message {
  background: var(--messageBackground);
  border-radius: calc(var(--borderRadius) * 2);
  padding: 20px;
  border: none;
  border-bottom: 1px solid var(--messageBackground);
  height: auto;
  color: var(--messageText);
  position: relative;
}

.gform_confirmation_message:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-top-color: var(--messageBackground);
  border-bottom: 0;
  border-left: 0;
  margin-left: -13px;
  margin-bottom: -26px;
}

/* errors */
.gform_wrapper .validation_error,
.gform_wrapper .validation_message {
  background: var(--midGrey);
  margin-bottom: 40px;
  color: var(--messageText);
  padding: 10px 20px;
  border-left: 3px solid;
}

.gform_wrapper .validation_message {
  display: none;
  padding: 5px 20px;
}

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
  border-color: var(--error);
}

.gform_wrapper .gfield_error.gfassist-radio li input + label::before,
.gform_wrapper .gfield_error.gfassist-checkbox li input + label::before {
  background: var(--error);
}

/* not
gfassist-time


*/
